@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

.signup_page {
    background-color: #F1F0ED;
    min-height: 100vh;

    .signup_page_container {
        max-width: 1200px;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 75px;

        @media (max-width: 768px) {
            padding: 30px 0;
            justify-content: center;
        }

        @media (max-width: 1100px) {
            padding: 10px 30px;
        }

        .bg_image {
            position: absolute;
            width: 70%;
            height: 560px;
            border-radius: 20px;
            overflow: hidden;
            left: 0;
            top: 40%;
            transform: translate(80px, -50%);
            z-index: 9;

            @media (max-width: 1100px) {
                transform: translate(30px, -50%);
            }

            @media (max-width: 768px) {
                left: 0;
                top: 0;
                transform: none;
                width: 100%;
                height: 100%;
                border-radius: 0;
            }

            .overlay {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                background: #434242;
                mix-blend-mode: lighten;

                @media (max-width: 768px) {
                    border-radius: 0;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .signup2_bgimg {
            top: 46%;

            @media (max-width: 768px) {
                left: 0;
                top: 0;
                transform: none;
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
        }



        .register_container {
            border-radius: 30px;
            border: 3px solid #000;
            background: #F3EFE0;
            box-shadow: -10px 20px 41px 0px rgba(0, 0, 0, 0.25);
            width: 60%;
            padding: 20px 60px;
            position: relative;
            z-index: 10;

            @media (max-width: 1100px) {
                width: 75%;
            }

            @media (max-width: 768px) {
                width: 75%;
                border-radius: 15px;
            }

            @media (max-width: 576px) {
                padding: 20px 30px;
                width: 90%;
            }


            h2 {
                color: #222;
                text-align: center;
                font-family: Nunito;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 5px;

                @media (max-width: 768px) {
                    font-size: 24.638px;
                }
            }

            .bottom_shadow {
                display: flex;
                justify-content: center;
                margin-bottom: 23px;

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            .socials {
                display: flex;
                justify-content: center;
                gap: 32px;

                svg {
                    cursor: pointer;
                }
            }

            .email_option {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 12px 0;

                .linee {
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #AAA6A3;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }

                span {
                    position: relative;
                    color: #928E8E;
                    text-align: center;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.16px;
                    margin: 0;
                    padding: 0;
                    z-index: 10;
                    background-color: #F3EFE0;
                    padding: 0 10px;

                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }
            }

            form {
                user-select: none;

                .tel_number {
                    position: relative;

                    .tel_input {
                        padding-left: 70px;
                        @media (max-width: 768px) {
                            padding-left: 48px;
                        }
                    }

                    .number_prefix {
                        position: absolute;
                        left: 20px;
                        top: 43px;
                        z-index: 100;

                        @media (max-width: 768px) {
                            left: 15px;
                            top: 24px;
                        }

                        span {
                            color: #000;
                            font-family: Nunito;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @media (max-width: 768px) {
                                font-size: 12px;
                            }
                        }
                    }
                }

                label {
                    color: #222;
                    font-family: Nunito;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @media (max-width: 768px) {
                        font-size: 12px;
                    }
                }

                .validation_error {
                    margin: 3px 0 24px 0;
                    color: red;
                    font-size: 12px;

                    @media (max-width: 768px) {
                        margin-bottom: 12px;
                        font-size: 9px;
                    }
                }

                input {
                    width: 100%;
                    border-radius: 50px;
                    border: 1px solid #222;
                    background-color: transparent;
                    padding: 10px 45px 10px 20px;
                    color: #000;
                    font-family: Nunito;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    @media (max-width: 768px) {
                        padding: 5px 15px;
                        font-size: 12px;
                    }
                }


                .select_option {
                    width: 100%;
                    border-radius: 50px;
                    border: 1px solid #222;
                    display: flex;
                    align-items: center;
                    padding: 10px 32px;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 25px;
                    position: relative;

                    @media (max-width: 768px) {
                        padding: 5px 15px;
                        margin-bottom: 15px;
                    }

                    h4 {
                        color: #928E8E;
                        font-family: Nunito;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;

                        @media (max-width: 768px) {
                            font-size: 12px;
                        }
                    }



                    svg {
                        @media (max-width: 768px) {
                            width: 8.959px;
                            height: 15.678px;
                        }
                    }

                    .options {
                        position: absolute;
                        top: calc(100% + 6px);
                        left: -1px;
                        border-radius: 25px;
                        border: 1px solid #000;
                        background: #F3EFE0;
                        width: 101%;
                        z-index: 1000;
                        overflow: hidden;

                        @media (max-width: 768px) {
                            border-radius: 10px;
                        }

                        .option {
                            color: #928E8E;
                            font-family: Nunito;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            padding: 9px 25px;
                            border-bottom: 1px solid #B9B9B9;

                            &:hover {
                                color: black;
                            }

                            @media (max-width: 768px) {
                                padding: 5px 15px;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .fullname {
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: 670px) {
                        flex-direction: column;
                    }

                    .name,
                    .surname {
                        width: 48%;

                        @media (max-width: 670px) {
                            width: 100%;
                        }
                    }
                }

                .passwords {
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: 670px) {
                        flex-direction: column;
                    }

                    .psw,
                    .psw_again {
                        width: 48%;
                        position: relative;

                        .eye_icons {
                            position: absolute;
                            right: 12px;
                            top: 52px;
                            transform: translateY(-50%);

                            @media (max-width: 768px) {
                                top: 36px;
                            }

                            svg {
                                font-size: 18px;
                                cursor: pointer;
                                color: grey;

                                @media (max-width: 768px) {
                                    font-size: 12px;
                                }
                            }
                        }

                        @media (max-width: 670px) {
                            width: 100%;
                        }
                    }
                }

                .btn_container {
                    display: flex;
                    justify-content: flex-end;

                    button {
                        border-radius: 50px;
                        border: none;
                        background: #222;
                        width: 214px;
                        padding: 10px 0;
                        color: #F3EFE0;
                        text-align: center;
                        font-family: Nunito;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.64px;
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        align-items: center;
                        transition: .1s ease-in-out;
                        border: 1px solid #000;

                        svg {
                            stroke: #F3EFE0;
                        }

                        &:hover {
                            background-color: transparent;
                            color: #000;

                            svg {
                                stroke: #000 !important;
                            }
                        }

                        @media (max-width: 768px) {
                            width: 100%;
                            font-size: 14px;

                            svg {
                                width: 8.959px;
                                height: 15.678px;
                            }
                        }
                    }

                    .form_finish_btn {
                        margin-top: 50px;
                    }

                    a {
                        text-decoration: none;
                        border-radius: 50px;
                        border: none;
                        background: #222;
                        width: 214px;
                        padding: 10px 0;
                        color: #F3EFE0;
                        text-align: center;
                        font-family: Nunito;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.64px;
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        align-items: center;
                        transition: .1s ease-in-out;
                        border: 1px solid #000;

                        svg {
                            stroke: #F3EFE0;
                        }

                        &:hover {
                            background-color: transparent;
                            color: #000;

                            svg {
                                stroke: #000 !important;
                            }
                        }

                        @media (max-width: 768px) {
                            width: 100%;
                            font-size: 14px;

                            svg {
                                width: 8.959px;
                                height: 15.678px;
                            }
                        }
                    }
                }
            }

            .login_link {
                text-align: center;
                margin-top: 12px;

                a {
                    color: #000;
                    text-align: center;
                    font-family: Nunito;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    @media (max-width: 768px) {
                        font-size: 12px;
                    }
                }
            }
        }

        .signup_container_2 {
            padding: 30px 60px;

            @media (max-width: 550px) {
                padding: 20px 25px;
            }
        }
    }
}